svg {
  background: #eee;
}

.sphere {
  fill: #fff;
}

#map p{
  width: 960px;
}

#hist p{
  width: 780px;
}
.land {
  fill: #000;
}

.states, .state-borders
{
  fill: #272727;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 3;
  vector-effect: non-scaling-stroke;
}

.overlay {
  fill: none;
  pointer-events: all;
}

circle{
  fill: green;
  opacity: .5;
}

circle:hover{
  fill: yellow;
  opacity: 1;
  r: 5;
}

h1{
    text-align: center;
    font-size: 36pt;
    font-family: Arial, Verdana, sans-serif;
}


.bar rect {
  fill: steelblue;
}

.bar text {
  fill: black;
  font: 10px sans-serif;
}

.tooltip{
  background-color: white;
  padding: 3px;
  font: 10px sans-serif;
  border:  blue 3px;
}

#filters{
  position: fixed;
  right: 100px;
  top: 60px;
  width: 200px;
  font: 20px sans-serif;
}